ul{
    font-size: 20px;
}

ol{
    font-size: 20px;
}

header{
    text-align: left;
    margin: 0;
}
.common{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.header{
    height: 100 px;
    background-color: black;
    color: white;
    line-height: 100 px;
}
.mainbody{
    background-color: grey;
}

.footer{
    background-color: blue;
    color: white;
    height: 25px;
    position: fixed;
    bottom: 0px;
    right: 5px;
    left: 5px
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

nav{
    background-color: lightblue;
    padding:10px;
    overflow: hidden;
}

nav a{
    float: left;
    color: black;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover{
    background-color:aliceblue;
}

header {
  text-align: left;
  margin: 0;
}

h2{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
